*
{
    margin: 0;
    padding: 0;
}
header
{
    opacity: 30px;
}
div .text-center h1
{
    font-size: 80px; 
}
div .text-center h5
{
color: crimson;
font-size: 50px;
}

label{
    display: block;
}
input[type= "text"],input[type= "Email"],input[type= "password"],
input[type= "URL"],[type= "number"],input[type= "date"]
{
    width: 300px;
    height: 30px;
    background-color: cornflowerblue
}
button
{
    margin-top: 20px;
    background-color: rgb(69, 82, 202);
    color: wheat;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.card-body h5
{
    margin-left: 130px;
}
div.card-body p
{
    margin-left: 110px;
}
div.card-body a
{
    margin-left: 130px;
}
select{
    width: 300px;
    height: 30px;
    background-color: cornflowerblue
}
textarea{
    width: 300px;
    height: 100px;
    background-color:  cornflowerblue
}



